{
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["*.json", "*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
